@using DrewKestellSite.ViewModels

@model ArticleChapterViewModel

@{
    ViewData["Title"] = @Model.ArticleTitle;
}


<div class="absolute">
    <div class="left-navigation" id="chapter-navigation">
        <ul>
            @foreach (var chapter in Model.ChapterNavigation)
            {
                <li><a href="/Article/@Model.ArticleId/Chapter/@chapter.Item1" class="@(chapter.Item3 ? "active" : "")">Chapter @chapter.Item1 - @chapter.Item2</a></li>
            }
        </ul>
    </div>
</div>
<div class="content">
    <h1>@Model.ArticleTitle</h1>
    <div class="chapter-number">
        <small><strong>Chapter @Model.ChapterNumber</strong></small>
    </div>
    <div>
        <small>@($"Drew Kestell, {DateTime.Now.Year}")</small>
    </div>
    <div>
        <a href="mailto:drew.kestell@gmail.com"><small>drew.kestell@gmail.com</small></a>
    </div>
    <hr>

    @Html.Raw(Model.Text)
    <a href="#top">Back to Top</a>
    <div class="section-divider">...</div>
    @await Html.PartialAsync("~/Views/Shared/_RSS.cshtml")
</div>

@section Scripts {
    <script src="/js/run_prettify.js"></script>
}